body {
  background-color: #f1f1f8;
}

ul a {
  color: black;
}
ul a:hover {
  color: cadetblue;
}

.container, .row {
  margin-top: 20px;
}

#down {
  height: 100px;
  padding: 30px;
  margin-top: 100px;
  text-align: center;
}
#down p {
  color: white;
}
.row{
  margin-top: 30px;
}

.card {
  background-color: #c7c7c7;
}
.card #cardimg {
  width: 100%;
  height: auto;
}
.card .card-footer {
  background-color: #c7c7c7;
  margin-top: 5px;
}
.card .card-text, .card .card-title {
  text-align: center;
}
.btn{
  margin-top: 30px;
}

/*# sourceMappingURL=tema2.css.map */
