body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:o;
}
* {
    box-sizing: border-box;
}
.bar-container{
    background-color: black;
    display: block;
    padding:8px opx;
}
.bar{
    padding: 8px 15px;
    margin:0px 122.4px
}
.bar a{
    color: cornsilk;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 15px; 
}
.bar a:hover{
    color: darkgoldenrod;
}
.icon{
    display: inline-block;
    padding-left: 330px;
    
}
.logo{
    border:4px solid goldenrod;
}
.navbar1{
    padding: 30px 16px;
}
.nav1-container{
    text-align: center;
}
.nav1-a{
    text-decoration: none;
    color: gray;
    letter-spacing: 2px;
}
.navbar2{
    background-color: rgb(247, 247, 247);
    text-align: center;
    padding: 5px 0px;   
}
#drop ul{
    list-style-type: none;
    padding-left:0;   
}
#drop li {
    padding: 10px 0px;   
}
#drop a{
    text-decoration: none;  
}
.nav2-container ul{
    list-style-type: none;
}
.nav2-container li{
    padding: 10px 10px;
    display: inline-block;
}
.nav2-container a{
    text-decoration: none;
}
.nav2-container a:hover{
   color: gold;
}
.section1 h4{
    text-align: center;
}
h1  {
    text-align: center;   
}
.section2{
    display: flex;
    flex-wrap: wrap;

}
.main{
    flex:60%;
    padding: 20px;
}
.side{
    flex:35%;
    padding: 30px;
}
.imagine{
    object-fit: cover;
}
.section21{
    text-align: center;
    width:100%;
}
.vezi{
    font-size: 14px;
    color: goldenrod;
    text-decoration: none;
    margin-top: 20px;
}
.vezi:hover{
    text-decoration: underline;
    color: goldenrod;
}
.arrow{
    background-color: rgb(247, 247, 247);
    height: 100px;
    margin-top: 100px;
    display: flex;
    text-align: center;
}
.buton1{
    flex:50%;
    padding: 25px;
    
}
.buton2{
    flex:50%;
    padding:25px;
    
}
.buton1 :hover{
    background-color: darkslategray;
    color: white;
}
.buton1 a{
    text-decoration: none;
}
.buton2 :hover{
    background-color: darkslategray;
    color: white;
}
.buton2 a{
    text-decoration: none;
}

#buton{
    padding: 10px;
    font-size: 18px;
}
.w3-circle {
   margin-left: auto;
   margin-right: auto;
   display: block;
}
.icon1{
    text-align: center;
}
.section22, .section23, .section24{
    width:100%;
}

.icon:hover{
    color: goldenrod;
}
.section22 > h2{
    text-align: center;
}
.section22>p{
    text-align: center;
}
.section23 > h3{
    text-align: center;
}
.section23 >p{
    text-align: center;
}
.section23{
    background-color:rgb(247, 247, 247);
    margin: 100px 0px;
    text-align: center;
    padding: 30px;
}
.section23 a{
    color: goldenrod;
    text-decoration: none;
    
}
.section23 a:hover{
    text-decoration: underline;
    color: goldenrod;
}

.test{
    text-decoration: none;
    font-size: 20px;
   
}
.section21 a:hover{
    color: goldenrod;
}
.down{
    background-color: black;
    color: cornsilk;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 180px auto 200px;
    justify-content: space-evenly;
}
.down ul{
    list-style-type: none;

}
.down li{
    display: inline-block;
    padding:10px;
}
@media screen and (max-width: 768px) {
    
    .bar-container{
        text-align:left;
        display: block;
        width: 100%;
    }
    .bar{
        margin: 0;
        padding: 20px 0;
        
    }
    .nav2-container{
        display: none;
    }
    #drop ul{
      list-style-type: none;
      padding-left:0;   
  }
     #drop li {
      padding: 10px 0px;  
      display: block; 
  }
    #drop a{
      text-decoration: none; 
    } 
      
      .section2 {
        flex-direction: column;
      }
      .main{
          margin-left: 0;
      }
      .down{
       text-align: center;
       display: block;
      }
      .down ul{
          text-align: center;
          padding: 0;
      }
      .icon{
         display: none;
      }
    }
    @media only screen and (min-width: 768px){
        #btn , #drop{
            display: none;
        }
        .nav2-container ul{
          list-style-type: none;
      }
      .nav2-container li{
          padding: 10px 10px;
          display: inline-block;
      }
      .nav2-container a{
          text-decoration: none;
      }
      .nav2-container a:hover{
         color: gold;
      }
    }
  