body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}
* {
    box-sizing: border-box;
}
.bar-container{
    background-color: black;
    display: block;
    padding:8px opx;
}
.bar{
    padding: 8px 15px;
    margin:0px 122.4px
}
.bar a{
    color: cornsilk;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 15px; 
}
.bar a:hover{
    color: darkgoldenrod;
}
.icon{
    display: inline-block;
    padding-left: 330px;
    
}
.logo{
    border:4px solid goldenrod;
}
.navbar1{
    padding: 30px 16px;
}
.nav1-container{
    text-align: center;
}
.nav1-a{
    text-decoration: none;
    color: gray;
    letter-spacing: 2px;
}
.navbar2{
    background-color: rgb(247, 247, 247);
    text-align: center;
    padding: 5px 0px;   
}
#drop ul{
    list-style-type: none;
    padding-left:0;   
}
#drop li {
    padding: 10px 0px;   
}
#drop a{
    text-decoration: none;  
}
.nav2-container ul{
    list-style-type: none;
}
.nav2-container li{
    padding: 10px 10px;
    display: inline-block;
}
.nav2-container a{
    text-decoration: none;
}
.nav2-container a:hover{
   color: gold;
}

h1  {
    text-align: center;   
}
.section2{
    display: flex;
    flex-wrap: wrap;
}
.main{
    
    flex:55%;
    padding: 30px;
    margin-left: 150px;
}
.side{
    flex:30%;
    padding: 30px;
}

.imagine{
    object-fit: cover;
}
.section21{
    background-color:rgb(247, 247, 247);
    border:1px solid white;
    border-radius: 10px;
    padding: 20px;
    width:100%;
}
.w3-circle {
   margin-left: auto;
   margin-right: auto;
   display: block;
}
.section22, .section23, .section24{
    width:100%;
}

.icon:hover{
    color: goldenrod;
}
.section22 > h2{
    text-align: center;
}
.section22>p{
    text-align: center;
}
.section23 > h3{
    text-align: center;
}
.section23 >p{
    text-align: center;
}
.section23{
    background-color: rgb(247, 247, 247);
    margin: 100px 0px;
    text-align: center;
    padding: 30px;
}
.section23 a{
    color: goldenrod;
    text-decoration: none;
   
}
.section23 a:hover{
    text-decoration: underline;
    color: goldenrod;
}
h6{
    color: goldenrod;
}
.section24 a{
    text-decoration: none;

}
.section24 a:hover{
    color: goldenrod;
}
.down{
    background-color: black;
    color: cornsilk;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 180px auto 200px;
    justify-content: space-evenly;
}
.down ul{
    list-style-type: none;

}
.down li{
    display: inline-block;
    padding:10px;
}
@media screen and (max-width: 768px) {
    
    .bar-container{
        text-align:left;
        display: block;
        width: 100%;
    }
    .bar{
        margin: 0;
        padding: 20px 0;
        
    }
 .nav2-container{
    display: none;
}
#drop ul{
  list-style-type: none;
  padding-left:0;   
}
 #drop li {
  padding: 10px 0px;  
  display: block; 
}
#drop a{
  text-decoration: none;  
}    
 .section2 {
      flex-direction: column;
  }
  .main{
          margin-left: 0;
      }
  .down{
       text-align: center;
       display: block;
      }
  .down ul{
          text-align: center;
          padding: 0;
      }
   .icon{
         display: none;
      }
    }
 @media only screen and (min-width: 768px){
        #btn , #drop{
            display: none;
        }
        .nav2-container ul{
          list-style-type: none;
      }
      .nav2-container li{
          padding: 10px 10px;
          display: inline-block;
      }
      .nav2-container a{
          text-decoration: none;
      }
      .nav2-container a:hover{
         color: gold;
      }
    }