$bg-color:rgb(241, 241, 248);
$card-color:#c7c7c7;

body{
    background-color: $bg-color;
}
ul{
    a{
        color: black;
    }
    a:hover{
        color: cadetblue; 
    }
}
.container, .row{
    margin-top: 20px;
}


#down{
    height: 100px;
    padding: 30px;
    margin-top: 100px;
    text-align: center;
    p{
        color:white;
    }
}

.card{
    background-color:$card-color ;
   
    #cardimg{
        width: 100%;
        height: auto;
        
    }
    .card-footer{
        background-color:$card-color;
        margin-top: 5px;
    }
    .card-text, .card-title{
        text-align: center;
        
    }
}
