body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}
* {
    box-sizing: border-box;
}
.bar-container{
    background-color: black;
    display: block;
    padding:8px opx;
}
.bar{
    padding: 8px 15px;
    margin:0px 122.4px
}
.bar a{
    color: cornsilk;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 15px; 
}
.bar a:hover{
    color: darkgoldenrod;
}
.icon{
    display: inline-block;
    padding-left: 330px;
    
}
.navbar1{
    padding: 30px 16px;
}
.nav1-container{
    text-align: center;
}
.nav1-a{
    text-decoration: none;
    color: gray;
    letter-spacing: 2px;
}
.navbar2{
    background-color: rgb(247, 247, 247);
    text-align: center;
    padding: 5px 0px;   
}

.logo{
    border:4px solid goldenrod;
}
.nav2-container ul{
    list-style-type: none;
}
.nav2-container li{
    padding: 10px 10px;
    display: inline-block;
}
.nav2-container a{
    text-decoration: none;
}
.nav2-container a:hover{
   color: gold;
}

.section1 {
    text-align: center;
    margin-top: 50px;
}
.section2 {
  
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}
.section21{
    flex:45%;
    text-align: left;
    background-color:  rgb(247, 247, 247);
}
.psection21{
    color: gold;
    font-size: 13px;
    
}
.psection22{
    font-size: 20px;
}
.psection23{
    color: gray;
}
.imagine{
    width: 100%;   
    flex:40%
}
.section21{
    padding: 20px;
    margin-left: 120px;
}
.section21 a{
    text-decoration: none;
}
.section21 a:hover{
    text-decoration: underline;
}
.section3 {
    background-color: rgb(247, 247, 247);
    text-align: center;
    margin-top: 100px;
}
.section4 {
   
    text-align: center;
    margin-top: 100px;
}
 .test {
    text-decoration: none;
    margin-left:200px;  
}
.test:hover{
    color: goldenrod;
}
.section5 {
    background-color: rgb(247, 247, 247);
    text-align: center;
    margin-top: 100px;
}
.buton{
    background-color: goldenrod;
    border:2px solid ;
    margin-top: 20px;
    height:50px;
    width:160px;
    font-size: 15px;
    padding: 8px;
}
.buton a{
    text-decoration: none;
}
.buton:hover{
    background-color: gold;
}
.down{
    background-color: black;
    color: cornsilk;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 180px auto 200px;
    justify-content: space-evenly;
}
.down ul{
    list-style-type: none;

}
.down li{
    display: inline-block;
    padding:10px;
}
@media screen and (max-width: 768px) {
  body{
      padding: 0;
  }
  .bar-container{
      text-align:left;
      display: block;
      width: 100%;
  }
  .bar{
      margin: 0;
      padding: 20px 0;
      
  }
  
  .nav2-container{
      display: none;
  }
  #drop ul{
    list-style-type: none;
    padding-left:0;   
}
   #drop li {
    padding: 10px 0px;  
    display: block; 
}
  #drop a{
    text-decoration: none; 
  } 
    .section2 {
      flex-direction: column;
    }
    .section21{
        margin-left: 0;
    }
    .down{
     text-align: center;
     display: block;
    }
    .down ul{
        text-align: center;
        padding: 0;
    }
    .imagine ,.icon{
       display: none;
    }
  }
  @media only screen and (min-width: 768px){
      #btn , #drop{
          display: none;
      }
      .nav2-container ul{
        list-style-type: none;
    }
    .nav2-container li{
        padding: 10px 10px;
        display: inline-block;
    }
    .nav2-container a{
        text-decoration: none;
    }
    .nav2-container a:hover{
       color: gold;
    }
  }
